
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}





/**************************** Base *****************************/

body{
font-family: 'EB Garamond', 'Lora', 'Esteban', serif;
}

header, ending{
width: 100%;
}

.second{
width: 100%;
}

container nav, .first, .third, .fourth{
width: 97%;
}

footer{
width: 100%;
background-color: #2E2E2E;
color: #9F9F9F;
}


/*************************** Layout ***************************/

header .right{
float: right;
}

header .left{
float: left;
}

.first .right{
float: right;
}

.first .left{
float: left;
}

.second .right{
 float: right;
}

.second .left{
float: left;
}


.third .right{
float: right;
}

.third .left{
float: left;
}

.fourth .right{
float: right;
}

.fourth .left{
float: left;
}

footer .right{
float: right;
}

footer .left{
float: left;
}



/************************ Sections ***********************/

header{
height: 3.8em;
}

header, footer{
background-color: #2E2E2E;
color: #9F9F9F;
}

nav ul li, .second div ul li{
display: inline-block;
display: -moz-inline-stack;
list-style: none;
}


button, input[type="submit"], container nav ul li, h5{
text-transform:uppercase;
}

container nav, container section, footer{
box-sizing: border-box;
}

.first{
height: 4.5em;
margin: 3em 0 1.5em 1.2em;
}

.second{
box-sizing: border-box;
height: 30em;
background-color: #F1F1F1;
margin: 0;
padding: 0 18px;
border-top: 8px solid #e9e9e9;
border-bottom: 15px solid ##e9e9e9;
}

.third{
box-sizing: border-box;
height: 39em;
}

.top article{
display: inline-block;
display: -moz-inline-stack;
}

.bottom article{
display: inline-block;
display: -moz-inline-stack;
}

.fourth{
box-sizing: border-box;
height: 7.5em;
background-color: #E0E0E0;
color: #333333;
border-left: 12px solid #009BF7;
margin-left: 20px;
margin-bottom: 3em;
}

.ending{
box-sizing: border-box;
height: 29em;
}

.columns{
display: inline-block;
display: -moz-inline-stack;
box-sizing: border-box;
width: 21%;
height: 30em;
margin: 0em 1em 0 0;
vertical-align: top;
}

.columns p:not(.black), h6, input[placeholder]{
color: #666666;
}

footer:after{
content: "";
display: table;
clear: both;
}


/******************** Elements ******************/

header .right{
height: 2em;
margin: -4px 22px 0px;
}

header .left{
font-size: 0.9em;
font-weight: 1;
font-stretch: ultra-condensed;
margin: 9px 0 0 -25px;
}

.left ul li a{
color: #9F9F9F;
text-decoration: none;
padding: 0 7px 0 0;
}

.left ul li:not(:last-of-type) {
border-right: 0.1em solid #9F9F9F;
}

.left ul li a:hover{
color: #DF483F;
}

.right ul li div {
text-align: center;
line-height: 35px;
width:35px;
height:35px;
background-color: #787878;
border-radius: 50%;
margin: 0 4px;
}

.right ul li a{
background-color: none;
color: #FFFFFF;
border: none;
text-decoration: none;
}

.right ul li a i{
font-size: 1em;
text-align: center;
}

.right ul li div:hover{
background-color: #DF483F;
}

.right ul li:nth-child(4) {
  font-weight: 10;
}

container nav ul li{
box-sizing: border-box;
font-size: 1em;
margin: -2px;
padding: 0 45px 12px 0px;
}

container nav ul li a{
text-decoration: none;
padding-bottom: 10px;
color: #2E2E2E;
border-bottom: 7px solid transparent;
}

container nav ul li a:hover {
color: #9F9F9F;
border-bottom: 7px solid #009BF7;
}

container nav{
margin: 0 0 0 -20px;
padding-top: 1em;
height: 4.4em;
border-bottom: 7px solid #F1F1F1;
}

h2{
margin: 0;
padding: 0;
line-height: 40px;
font-size: 2.5em;
}

.first div h6{
margin: 0;
padding: 0;
line-height: 30px;
font-size: 15px;
color: #929292;
}

.first input{
border: none;
height: 2.5em;
}

.first input::placeholder {
background-color: #F1F1F1;
color: #999999;
font-size: 15px;
}

.first button{
background-color: #009BF7;
color: #FFFFFF;
border: none;
font-size: 15px;
height: 2.5em;
border-radius: 5px;
}

.second .left{
box-sizing: border-box;
width: 45%;
padding-top: 6em;
padding-right: 3em;
}

.second .left p, .third .right h4, .fourth .left p{
font-size: 20px;
}

.second .right i{
height: 20px;
width: 20px;
color: #000000;
}

.second .right{
box-sizing: border-box;
}

.second .right p{
box-sizing: border-box;
width: 550px;
height:440px;
color: #FFFFFF;
background-color: #333333;
padding: 210px 0;
text-align: center;
}

.second .right ul{
box-sizing: border-box;
height: 20px;
position: relative;
bottom: 55px;
right: 20px;
}

.second button{
background-color: #009BF7;
color: #FFFFFF;
border: none;
font-size: 18px;
height: 2.5em;
border-radius: 5px;
}

.third .left{
box-sizing: border-box;
width: 47%;
margin-top: 30px;
margin-left: 3px;
}

.third img{
width: 90%
}

.third .right{
box-sizing: border-box;
width: 50%;
margin-right: -40px;
}

.third .right article{
box-sizing: border-box;
width: 49%;
padding: 0 10px 0 10px;
}

.third .right article p, h4{
text-align: center;
}

.third .right article h4{
margin: 8px 0 10px 0;
}
.third .right .bottom{
padding-top: 35px;
}

article .black{
box-sizing: border-box;
width: 85px;
height: 80px;
color: #FFFFFF;
background-color: #333333;
padding: 30px 0;
}

.third .right article div{
align-content: center;
padding-left: 100px;
}

.third .right article a{
color: #009BF7;
text-decoration: none;
}

.fourth .left{
padding-top: 25px;
padding-left: 25px;
}

.fourth .left p{
margin-top: 6px;
}

.fourth .right{
padding-top: 35px;
padding-right: 35px;
}

.fourth button{
background-color: #009BF7;
color: #FFFFFF;
border: none;
font-size: 25px;
height: 2em;
border-radius: 5px;
}

.ending{
background-color: #1A1A1A;
margin-top: 0px;
padding-top: 50px;
padding-left: 1.5em;
}

.columns h5{
font-size: 15px;
font-weight: 5;
color: #FFFFFF;
margin-top: 0px;
padding-top: 0px;
}

.columns .black{
box-sizing: border-box;
width: 215px;
height: 90px;
color: #FFFFFF;
background-color: #333333;
border: 1px solid #f8f8f8;
padding-top: 35px;
padding-left: 68px;
margin-top: 35px;
margin-bottom: 25px;
font-stretch: expanded;
}

.columns p{
line-height: 27px;
}

.columns .readmore{
text-align: right;
}

.columns ul{
padding: 0;
line-height: 30px;
}

.columns a{
text-decoration: none;
color: #009BF7;
}

.columns li{
list-style: none;
text-align: left;
}

.columns h6{
font-size: 16px;
margin-top: 9px;
margin-bottom: auto;
}

.columns section article div p{
font-size: 12px;
margin: 0;
line-height: 14px;
}

.columns section article p{
margin-bottom: 7px;
line-height: 15px;
}

input[type="text"], input[type="email"]{
background-color: #232323;
color: #989898;
border: none;
font-size: 15px;
height: 2.5em;
width: 22.7em;
border-radius: 5px;
margin: 0 20px 10px 0;
padding-left: 15px;
}

.columns form textarea{
background-color: #232323;
color: #989898;
border: none;
font-size: 15px;
height: 7em;
width: 22.7em;
border-radius: 5px;
margin: 0 20px 10px 0;
padding-left: 15px;
}


input[type="submit"]{
background-color: #009BF7;
color: #FFFFFF;
border: none;
font-size: 15px;
height: 2.5em;
border-radius: 5px;
}

footer{
padding: 0 1.5em;
}