header{
	background-color: #77777e;
}
nav{
 background-color: #34992e;
}
nav ul li a{
color:black;
}
ul li{
text-align: center;
}
section{
background-color: #ffa500;
}
#Antroji{
background-color: tomato;
}
h3{
color: red;
}
article p{
font-style: italic;
color: blue;
}
aside{
background-color: #21729e;
}
aside ul li a{
color: white;
}
footer{
background-color: #88888e;
}
footer p{
text-align: center;
}